%nav
  = link_to 'Styleguide', '/index.html'
  = link_to 'Shopping Cart', '/shopping-cart.html'
  = link_to 'Cart Login', '/cart-login.html'
  = link_to 'Process Payment', '/process-payment.html'
  = link_to 'Order Confirmation', '/order-confirmation.html'
  = link_to 'Product Page', '/product-page.html'
  = link_to 'Solutions Page', '/solutions-page.html'
  = link_to 'Home Page', '/home-page.html'
  = link_to 'Reading Page', '/reading-page.html'
  = link_to 'Simplified Cart', '/simplified-cart.html'